@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f2f6;
}

/* Header */
.wrapper {
  margin: 80px 0 0 0;
  padding: 0 50px 40px 40px;
}

.greet-box {
    height: 210px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 40px;
    border-radius: 10px;
    position: relative;
  }
  
  .top-image {
    position: absolute;
    top: -15px; 
    left: 88%; 
    transform: translateX(-50%);
    width: 400px;
    height: 220px;
  }
  
  .greet-box p {
    font-size: 35px;
  }
  
  .greet-box p.p1 {
    font-size: 8px;
  }
  
  .img-text {
    display: flex;
    align-items: center; 
  }
  
  .greet-box button {
    align-self: flex-start; 
    height: 25px;
    max-width: 110px;
    width: 90%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 10px; 
    background-color: #142850;
    transition: all 0.1s linear;
    cursor: pointer;
  }

  .greet-box button:hover {
    background-color: #0c7b93;
  }

  .text-content {
    text-align: justify;
    width: 1300px;
    margin: 100px auto;
  }

/* Why Play Section */
.why-play {
margin: 20px;
}

.why-play h2 {
text-align: center;
}

.why-play .cover {
display: flex;
justify-content: space-around;
margin-top: 15px;
}

.why-play .box {
flex: 1;
margin: 0 10px;
text-align: center;
}

.why-play .box img {
width: 100px;
height: 100px;
}

/* FAQ */
.questions {
    margin: 50px;
}
.faq h2 {
    text-align: center;
    align-items: center;
}
.accordion {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .accordion-text {
    display: flex;
    flex-wrap: wrap;
  }
  
  .faq-column {
    flex: 1;
    margin: 0 60px;
    padding: 0;
    width: 120%;
  }
  
  .accordion-text li {
    margin-bottom: 20px;
    cursor: pointer;
    list-style-type: none;
  }
  
  .accordion-text .question-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-text .question-arrow .question {
    flex: 1;
  }
  
  .accordion-text .line {
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .accordion-text li p {
    display: none;
  }
  
  .accordion-text li.showAnswer p {
    display: block;
  }
  
/* Feedback Container */
.feedback-container {
  max-width: 1100px;
  width: 100%;
  border-radius: 6px;
}

.feedback-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .right-side .topic-text {
  font-size: 26px;
  font-weight: 600;
  color: #142850;
}
.right-side .input-box {
  height: 45px;
  width: 100%;
  margin: 10px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #fff;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #142850;
  cursor: pointer;
  transition: all 0.1s ease;
}
.button input[type="button"]:hover {
  background: #397CF7;
}

/* carousel styles */
.carousel {
  --carousel-height: 200px;
  --carousel-width: 500px;
  --carousel-item-height: 140px;
  --carousel-item-width: 190px;

  width: 100%;
}

.carousel-container {
  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 100px auto;
  margin-left: 40px;
  max-width: var(--carousel-width);
  position: relative;
}

.carousel-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
}

.carousel-item-1 {
  left: 15%;
  opacity: 0.4;
}

.carousel-item-2,
.carousel-item-4 {
  height: calc(var(--carousel-item-height) * 1.5);
  opacity: 1;
  width: calc(var(--carousel-item-width) * 1.5);
  z-index: 1;
}

.carousel-item-2 {
  left: 30%;
}

.carousel-item-3 {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  height: calc(var(--carousel-item-height) * 2);
  opacity: 1;
  left: 50%;
  width: calc(var(--carousel-item-width) * 2);
  z-index: 2;
}

.carousel-item-4 {
  left: 70%;
}

.carousel-item-5 {
  left: 85%;
  opacity: 0.4;
}

