@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  padding: 0 20px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; 
}
  
  .navbar .left {
    display: flex;
    align-items: center;
  }

  .navbar .left img {
    margin-left: 20px;
  }
  
  .navbar .center {
    display: flex;
    gap: 25px;
  }
  
  .navbar .right {
    display: flex;
    align-items: center;
  }

  .navbar .right img {
    width: 90px;
    height: auto;
  }
  
  .logo {
    width: 40px;
    height: 40px;
  }

  .center {
    display: flex;
    justify-content: center;
}
  .icon {
    color: #555;
    font-size: 25px;
    padding: 15px 25px;
    transition: transform 0.3s ease;
  }

  .icon:hover {
    background-color: #ddd;
    border-radius: 5px;
  }
  .hover-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
}

  .profile {
    position: relative;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Dropdown styling */
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #000;
    padding: 9px 25px;
    border-radius: 5px; 
    transition: transform 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; 
    border-bottom: 1px solid #ddd;
    min-width: 270px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    left: -195px; 
  }

  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    display: flex; 
    align-items: center; 
    gap: 10px;
  }

  .dropdown-content a i {
    font-size: 25px;
  }

.dropdown-content a:hover {
    background-color: #0c7b93;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

