@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
  --main-bg-color: #fff;
  --main-text-color: #fff;
  --accent-color: #397CF7;
  --hover-color: #397CF7;
  --form-bg-color: #fff;
  --form-text-color: #000;
  --form-border-color: #f1f4fb;
  --form-btn-bg-color: #142850;
  --form-btn-hover-color: #397CF7;
  --error-color: red;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: 'Poppins', sans-serif;
  overflow: auto;
}

/* Main styles */
main {
  text-align: center;
  padding: 15px;
  justify-content: center;
  margin-top: 180px;
  margin-left: 55px;
}

main h1 {
  font-size: 45px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-content: center;
  margin: 0 auto;
  width: 600px;
}

a.image-grid {
  text-decoration: none;
  color: var(--main-text-color);
}

.image-item {
  border: 1px solid #ddd;
  padding: 10px;
  transition: all 0.1s ease; 
}

.image-item:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
  transform: scale(1.05);
}

.image-item a {
  color: inherit;
  text-decoration: none;
}

.image-item a:hover {
  color: inherit;
  text-decoration: none;
}

.image-item img {
  max-width: 40%;
  height: auto;
}

.image-item p {
  margin: 10px 0 0;
  color: var(--main-text-color);
  font-size: 25px;
}

.container main h4 {
  color: #fff !important;
  font-size: 12px !important;
  margin-top: 25px !important;
}

.container main h4 a {
  text-align: center;
  color: #397CF7 !important;
  text-decoration: none !important;
}

.container main h4 a:hover {
  text-decoration: underline !important;
  color: #397CF7 !important;
}

/*form*/

.signup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  max-height: 80%; 
  width: 70%;
  padding: 30px;
  background-color: var(--form-bg-color);
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  overflow-y: auto;
}
  
.signup-form .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}

.signup-form .close-btn:hover{
  color: var(--accent-color);
}
  
.signup-form .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.signup-formform{
  margin-top: -20px;
}

.signup-form form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

.signup-form form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--form-border-color);
  color: var(--form-text-color);
  border-radius: 5px;
  border: 1px solid var(--form-border-color);
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field input:focus,
.input-field select:focus {
  border: 1px solid black; 
}

.input-field select:focus,
.input-field input[type="date"]:focus {
  border: 1px solid black; 
}

.signup-form form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #f1f1f1;
  border-radius: 5px;
  margin: 25px auto;
  background-color: var(--form-btn-bg-color);
  transition: all 0.1s linear;
  cursor: pointer;
}

.signup-form form .btnText {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--form-btn-hover-color);
}

form button i {
  margin: 0 6px;
}

.form button a {
  color: inherit;
  text-decoration: none;
}

.form button a:hover {
  color: inherit;
  text-decoration: none;
}

.details.personal h4 {
  font-size: 12px;
  color: var(--error-color);
  margin-top: -4px; 
  margin-bottom: 7px;
}

.input-field {
  display: flex;
}

.field-container {
  flex: 1;
  margin-right: 10px; /* Adjust spacing between fields */
}

.field-container:last-child {
  margin-right: 0;
}

label {
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}


:root {
  --toggle-top: 58%;
  --toggle-right: 10px;
}

.toggle-password {
  position: absolute;
  top: var(--toggle-top);
  right: var(--toggle-right);
  transform: translateY(-50%);
  cursor: pointer;
}

.error-message {
  color: var(--error-color);
  font-size: 12px;
}

